.input-box {
    border-radius: .5rem;
    border: none;
    opacity: 50%;
    padding-left: .5rem;
    padding-right: .5rem;
}

.align-booking-items {
    flex-direction: row !important;
}

.align-center {
    display: flex;
    justify-content: center;
}

.booking-button {
    border-radius: .5rem;
    border: none;
    color: white;
    background-color: #2e2e2e;
}
.booking-button:hover {
    opacity: 90%;
}

* {
    font-family: 'playfair display', serif;
    color: #2e2e2e;
}