.top-level-row {
    width: 100%;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: fit-content;
    justify-content: center;
}

.top-level-div-holder {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.top-level-div {
    width: 100%;
    text-align: center;

}

.party-pricing-info {
    width: 100%;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: fit-content;
    justify-content: center;
    justify-self: center;
}

.party-pricing-div-holder {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.party-pricing-title-row {
    width: 100%;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: fit-content;
    justify-content: center;
}

.price-holder {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.price-title {
    flex-grow: 1;
}


.price-price {
    white-space: nowrap;
    flex-shrink: 0
}


.addon-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;

}

