.top-level-row {
    width: 100%;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: fit-content;
    justify-content: center;
}

.top-level-div-holder {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.top-level-div {
    width: 100%;
    text-align: center;

}

.party-pricing-info {
    width: 100%;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: fit-content;
    justify-content: center;
    justify-self: center;
}

.party-pricing-div-holder {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.party-pricing-title-row {
    width: 100%;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: fit-content;
    justify-content: center;
}

.price-holder {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.price-title {

    flex-grow: 1;
}

.dots {
    flex-grow: 0;
    /* prevent the dots from taking up more space than necessary */
    text-align: right;
    /* aligns the dots to the right */
    margin: 0 1em;
    border-bottom: 1px dotted #000;
    /* adds space around the dots */
}


.price-price {
    white-space: nowrap;
    flex-shrink: 0
}

.table {
    border-collapse: collapse;
    border-width: 0;

}

.table-option {
    width: 50%;
    border-style: none;
    border-width: medium;
}

.table-price {
    width: 50%;
    border-style: none;
    border-width: medium;
}